In [87]:
import pandas as pd
import numpy as np

**Our hypothesis : Patients with T0 bicarbonate levels between [24 ; 27] mmol/L will have PADH**

In [88]:
path_data = "..\\data\\NOMAL.xlsx"
raw_df = pd.read_excel(path_data)

In [89]:
import re

# Function to remove special characters from a string
def remove_special_characters(string):
    return re.sub(r'\W+', '', string)

# Rename the features in raw_df
raw_df.rename(columns=lambda x: remove_special_characters(x), inplace=True)

In [90]:
# Rename the feature 'Column1' to 'NewColumn' (modifying in place)
raw_df.rename(columns={'ArtesunatoevSomministrazione1Datainizioeora': 'Artesunate'}, inplace=True)
raw_df.rename(columns={'PADHpostartesunatedelayedhaemoly1s': 'PADH'}, inplace=True)

In [91]:
artsnt_df = raw_df[raw_df['Artesunate'] == 1]

In [92]:
artsnt_df = artsnt_df[['T0bicarbonatiinmmoll', 'PADH']]

In [93]:
artsnt_df.head(5)

   T0bicarbonatiinmmoll  PADH
2                  30.4   0.0
3                   NaN   1.0
4                   NaN   1.0
5                  23.9   1.0
7                  30.4   0.0

In [94]:
artsnt_df = artsnt_df.dropna()

In [95]:
len(artsnt_df)

16

In [96]:
count_with_PADH_1 = len(artsnt_df[artsnt_df['PADH'] == 1])
print(count_with_PADH_1)

4

In [97]:
low_threshold = 23
high_threshold = 27

In [98]:
# Counting samples with values between 24 and 27
count_between_values = len(artsnt_df[(artsnt_df['T0bicarbonatiinmmoll'] >= low_threshold) & (artsnt_df['T0bicarbonatiinmmoll'] <= high_threshold)])

# Display the count
print("Number of samples with values between "+str(low_threshold)+" and "+str(high_threshold)+":", count_between_values)

Number of samples with values between 23 and 27: 8

In [99]:
# Filtering samples with values between 24 and 27
candidate_filtered_group = artsnt_df[(artsnt_df['T0bicarbonatiinmmoll'] >= low_threshold) & (artsnt_df['T0bicarbonatiinmmoll'] <= high_threshold)]

# Counting samples with PADH = 1 in the filtered group
candidate_count_with_PADH_1 = len(candidate_filtered_group[candidate_filtered_group['PADH'] == 1])

# Display the count
print("Number of samples with PADH = 1 in the group satisfying the condition:", candidate_count_with_PADH_1)

Number of samples with PADH = 1 in the group satisfying the condition: 4

In [100]:
# Filtering samples outside the range 24-27
non_C_filtered_group = artsnt_df[(artsnt_df['T0bicarbonatiinmmoll'] < low_threshold) | (artsnt_df['T0bicarbonatiinmmoll'] > high_threshold)]

# Counting samples with PADH = 1 in the filtered group
non_C_count_with_PADH_1 = len(non_C_filtered_group[non_C_filtered_group['PADH'] == 1])

# Display the count
print("Number of samples with PADH = 1 in the group not satisfying the condition:", non_C_count_with_PADH_1)

Number of samples with PADH = 1 in the group not satisfying the condition: 0

total samples : 16

candidate : 8

candidate & PADH : 4

non candidate & PADH : 0

Precision = 4 / 8 = 0.5

Rappel = 4 / 4 = 1